.App {
  text-align: center;
}



.App-header {
  background-color: #adaeaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  width: 300px;
  color: #f0eeee;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.weather-card h2 {
  margin-bottom: 1rem;
}

.weather-card p {
  margin: 0.4rem 0;
}

.weather-card img {
  margin-top: 1rem;
}


